@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base Rule */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html{
  font-size: 62.5%;
  background-color: rgba(18, 20, 23, 0.95)
  /* 1rem = 10px */
}

/* Theme */
:root{
  --primary-color: #FFFFFF;
  --secondary-color: #121417;
  --primary-bgcolor: #877EFF;
  --secondary-bgcolor: rgba(135, 126, 255, 0.8)
}

/* Layout */

.flex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{
  width: 0.7rem;
  
}

::-webkit-scrollbar-track{
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-bgcolor);
  border-radius: 2rem;
}